body{
    background-color: #99ff99;
}
.heading{
    text-align: center;
    font-size: 60px;
}
.container{
    height: 600px;
    width: 900px;
    background :linear-gradient(green,black);
    margin-top: 50px;
}
.div-img
{
    height: 200px;
    width: 300px;
}