body{
    background-color: #99ff99;
}
.heading{
    text-align: center;
    font-size: 60px;
}
.container{
    height: 600px;
    width:1000px;
    background :linear-gradient(green,black);
    margin-top: 50px;
    background-image: url(../images/air_pollution-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:990px 590px ;
    border: black solid 3px;

}
.sub-heading{
    text-align: center;
    font-size: 60px;
}
.text{
    text-align: center;
}
.sub-container{
    margin: 10px;
    padding: 5px;
    

}
.card{
    border: solid 3px green ;
}
.card-img{
    width: 100%;
    
}
