@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@300;400&family=Poppins:wght@100;200;300;500&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #6f0b36;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px;
  font-size: 40px; 
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color:#6f0b36;
  text-align: center;
}

*{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.first{
	background: #111;
	min-height: 100vh;
}
.first .bannerVideo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.first .bannerVideo video{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	object-fit: cover;
	opacity: 0;
}
.first .bannerVideo video.active{
    opacity: 1;
}

/*Air*/
.video-container {
    position: relative;
    display: inline-block;
}

.video-container video {
    display: block;
    height: 700px;
    width: auto;
    margin-left: 170px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border: 2px #405138;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 28px;
}

.text-overlay h1 {
    font-size: 34px;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}
.descap{
	margin: 0 auto;
	margin-top: -5%;
	margin-bottom: -5%;
}
.air
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	margin-top: -500px;
	
}
.air h1
{
	font-size: 38px;
	font-weight: 600;
	margin-top: 30px;
	color: #6f0b36;
}
.air p
{
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	width: 350px;
	
}
.totalair
{
	margin-right: 360px;
	margin-top: -50px;

	display: flex;
	justify-content: space-between;
}
.prosair
{
	background: rgb(178, 172, 165);
	border-radius: 10px;
	flex-basis: 31%;
	margin-top: 70px;
	margin-bottom: 5%;

	margin-right: 15px;
	margin-left: 15px;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.prosair:hover
{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/*Water*/
.water
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	margin-top: -500px;
}
.water h1
{
	font-size: 38px;
	font-weight: 600;
	margin-top: 30px;
	color: #6f0b36;
}
.water p
{
	color:black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	width: 350px;
	
}
.totalwater
{
	margin-right: 360px;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.proswater
{
	background:  rgb(196, 190, 183);
	border-radius:10px;
	flex-basis: 31%;
	margin-top: 70px;
	margin-bottom: 5%;
	
	margin-right: 15px;
	margin-top: 15px;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.proswater:hover
{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/*land*/
.land
{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	margin-top: -500px;
}
.land h1
{
	font-size: 38px;
	font-weight: 600;
	margin-top: 30px;
	color: #6f0b36
}
.land p
{
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	width: 350px;
}
.totalland
{
	margin-right: 360px;
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
}
.prosland
{
	background:  rgb(179, 174, 167);
	border-radius: 10px;
	flex-basis: 31%;
	margin-top: 2.5;
	margin-bottom: 5%;
	margin-right: 15px;
	margin-left: 15px;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.prosland:hover
{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
