.conatiner{
        
    background-image:url('./../R.jpg') ;
    background-size: 1500px 600px;
    border-color: 3px brown;
    height: 500px;
    width: 1500px;
    display: flex;
  
  }
  .Box{
    
    font-size: 30px;
    height: 300px;
    width: 300px;
    margin-inline: 20px;
    flex-direction:row;
    border-radius: 20px;
    box-shadow: 1px 2px 3px 2px black;
    

  }
  .item{
    display: flex;
    margin-left: 270px;
    margin-top: 100px;
    height: 300px;
    font-style: oblique;
    text-align: center;
    
  }

  .text{
   color: rgb(43, 26, 5);
   font-size: larger;
   margin-left: 500px;
  }

  .page{
   background: linear-gradient(to top right, #ccffff 0%, #ffcccc 100%);
   background-size: 1500px 650px;
  }

  .gmail{
    color: rgb(17, 13, 8);
   font-size: larger;
   margin-left: 615px;
  
  }

  .button{
   
    height: 40px;
    width: 60px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: aqua;
    box-shadow: 1px 2px 3px 2px black;
    
  }

  