body{
    background-color: #b3ffb3;
}
.heading{
    text-align: center;
    font-size: 60px;
    color:#006600 ;
    text-shadow: 3px 4px 5px black;
}

@media screen and (min-width:726px) and (max-width: 956px){
    .heading{
        font-size: 40px;
        
    }
}

.sub-heading{
    text-align: center;
    font-size: 60px;
}
.container{
    margin-left: 100px;
    margin-right: auto;
}


.sub-container{
    margin: 10px;
    padding: 5px;  

}
.card{
    border: solid 3px green ;
}
.card-img{
    width: 100%;
    
}
.card-info{
    height: 300px;
    width: 400px;
    font-size: 20px;
    text-align: center;

}