body{
    background-color: #b3ffb3;
}
.heading{
    text-align: center;
    font-size: 60px;
    color:#006600 ;
    text-shadow: 3px 4px 5px black;
}

.sub-container{
    margin-top: 100px;
}
.sub-heading{
    text-align: center;
    font-size: 60px;
}

.card{
    margin-left: 20px;
    border: solid 3px green ;
}
.card-img{
    width: 100%;
    cursor: pointer;
    
}
.card-info{
    height: 300px;
    width: 400px;
    font-size: 20px;

}