body{
    background-color: #d9d9d9;
}
.heading{
    text-align: center;
    font-size: 60px; 
    color:#3d032e ;
    text-shadow: 3px 4px 5px black;
}
.container{
    height: 600px;
    width:1000px;
    background :linear-gradient(green,black);
    margin-top: 50px;
    background-image: url(../images/plastic-pol-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:990px 590px ;
    border: black solid 3px;

}
.sub-heading{
    text-align: center;
    font-size: 60px;
}


@media screen and (min-width:726px) and (max-width: 956px){
    .container{
        height: 400px;
        width: 70%;
        background-size:530px 390px ;

    }

}
@media screen and (min-width:545px) and (max-width: 725px)
{
    .container{
        height: 233px;
        width: 68%;
        background-size:400px 230px ;

    }
}
.sub-container{
    margin: 10px;
    padding: 5px;  

}
.card{
    border: solid 3px green ;
}
.card-img{
    width: 100%;
    
}
.text-start{
    margin-left: 18px;
    margin-top: 10px;
}

/* side button  */
button{
    border: none;
    border-radius: 50%;
}
button:hover{
    box-shadow: 3px  4px 5px rgb(204, 94, 112);
}
.btn{
    text-align: right;
}
.side-btn{
}
.arrow-img{
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 3px;
}
