body{
    font-family: Arial, sans-serif;
    background-color: #99ff99;
    margin: 0;
    padding: 0;
}
h1{
    color: green;
    text-shadow: 3px 4px 5px black;
    font-size: 40px;
}
.container{
    background-color: black;
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}
